extends includes/layout.pug

block content
  include ./includes/mixins/article-sort.pug
  #timeline-home
    .card-widget.timeline-home__hero
      .timeline-home__hero-copy
        p.timeline-home__eyebrow PERSONAL TIMELINE
        h1.timeline-home__title= config.title
        p.timeline-home__desc= config.description
      .timeline-home__hero-stats
        .timeline-home__stat
          span.timeline-home__stat-value= site.posts.length
          span.timeline-home__stat-label 篇记录
        .timeline-home__stat
          span.timeline-home__stat-value= site.categories.length
          span.timeline-home__stat-label 个主题
        .timeline-home__stat
          span.timeline-home__stat-value= site.tags.length
          span.timeline-home__stat-label 枚标签
    .timeline-home__nav
      a.timeline-chip(href=url_for('/timeline/'))
        i.fas.fa-timeline
        span 查看完整时间线
      a.timeline-chip(href=url_for('/projects/'))
        i.fas.fa-diagram-project
        span 浏览项目清单
      a.timeline-chip(href=url_for('/now/'))
        i.fas.fa-bolt
        span 了解最近在做什么
    #archive.timeline-home__archive
      .article-sort-title 最近更新
      +articleSort(page.posts)
      include includes/pagination.pug
